<!doctype html>
<html lang="{{language}}" prefix="{{> og-prefixes.html}}">
  <head>
    {{> meta.html}}
    {{> og.html}}
    {{> twitter.html}}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "{{schemaType}}",
      "url": "{{{url.full}}}",
      "name": "{{title}}",
      "author": {
        "@type": "Person",
        "givenName": "{{author.givenName}}",
        "familyName": "{{author.familyName}}",
        "name": "{{author.name}}"
      },
      "description": "{{description}}"
    }
    </script>
  </head>
  <body class="page">
    {{> nav.html}}
    <main class="page__main" data-eddi-content>
      {{{content}}}
      <h1 class="h1">Recent Articles</h1>
      {{#entries.main}}
        {{> entries.html}}
      {{/entries.main}}
    </main>
    {{> footer.html}}
  </body>
</html>
