<!doctype html>
<html lang="{{language}}" prefix="{{> og-prefixes.html}}">
  <head>
    {{> meta.html}}
    {{> og.html}}
    {{> twitter.html}}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "{{schemaType}}",
      "url": "{{{url.full}}}",
      "name": "{{title}}",
      "description": "{{description}}",
      "mainEntityOfPage": {
        "@type": "Blog",
        "blogPost": [
          {{#entries.main}}
            {
              "@type": "BlogPosting",
              "headline": "{{title}}",
              "author": {
                "@type": "Person",
                "givenName": "{{author.givenName}}",
                "familyName": "{{author.familyName}}",
                "name": "{{author.name}}"
              },
              "articleSection": "{{category.title}}",
              "dateCreated": "{{dateCreated.date}}",
              "datePublished": "{{dateCreated.date}}",
              "dateModified": "{{dateUpdated.date}}",
              "image": "{{{thumbnailURL.full}}}",
              "url": "{{{url.full}}}"
            }{{^last}},{{/last}}
          {{/entries.main}}
        ]
      }
    }
    </script>
  </head>
  <body class="page">
    {{> nav.html}}
    <main class="page__main" data-eddi-content>
      <h1 class="h1">{{title}}</h1>
      {{#categories.main}}
        {{> categories.html}}
      {{/categories.main}}
      {{#entries.main}}
        {{> entries.html}}
      {{/entries.main}}
    </main>
    {{> footer.html}}
  </body>
</html>
